ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.baixa {
  background-color: lightgreen;
}

.media {
  background-color: lightyellow;
}

.alta {
  background-color: lightcoral;
}

.concluida {
  text-decoration: line-through;
  opacity: 0.6;
}